:root {
  --time-span-color: #94a3b7;
  --font-bold: 600;
  --icon-background: #eaeef4;
  --icon-background-hover: #dce3ed;
  --white: #fff;
  --cell-color: #3070db;
  --control-text-color: #0072e3;
  --notes-after-background: #adb6c2;
  --new-game-button-hover: #0065c8;

  --highlight-basic: #e4ebf2;
  --highlight-similar: #c2ddf8;
  --highlight-invalid: #f1d0d6;
  --highlight-invalid-text-color: #d5656f;
  --highlight-selected: #96cfe2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Helvetica, Sans-Serif;
}

#app {
  width: 100%;
  height: 100vh;
}

.sudoku-wrapper {
  height: 100%;
  width: 100%;
  max-width: 900px;
  margin: 30px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.info {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.timer-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timer-span {
  color: var(--time-span-color);
  font-weight: var(--font-bold);
}

.timer-background {
  width: 25px;
  height: 25px;
  background: var(--icon-background);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.timer-background:hover {
  background-color: var(--icon-background-hover);
}

#timer-icon {
  width: 75%;
  height: 75%;
  background-position: center;
  background-repeat: no-repeat;
}

.timer-pause {
  background-image: url("/img/211871_pause_icon.png");
  background-size: contain;
}

.timer-play {
  background-image: url("./img/play-button-arrowhead.png");
  background-size: 60%;
}

.game-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  max-height: 500px;
}

.sudoku-game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;

  position: relative;

  max-width: 500px;
  max-height: 500px;
}

.square {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 0.5px solid black;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 40px;
  border: 0.5px solid lightgray;
  background-color: var(--white);
  text-align: center;
  color: var(--cell-color);
  cursor: pointer;
}

.cell-content {
  margin: 0 auto;
  line-height: 0;
  width: 100%;
}

.notes {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.note {
  text-align: center;
  line-height: 0;
  font-size: 14px;
}

.controls {
  width: 85%;
  height: 100%;

  max-width: 340px;
  margin-left: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.items-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--control-text-color);
  font-size: 12px;
  font-weight: 600;
}

.item-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--icon-background);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin-bottom: 5px;
  border: 2px solid var(--icon-background);
}

.item-button:hover {
  background-color: var(--icon-background-hover);
}

.item-icon {
  width: 50%;
  height: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

#notes {
  position: relative;
}

#notes::after {
  position: absolute;
  top: -18%;
  left: 66%;
  display: flex;
  width: 30px;
  height: 24px;
  align-items: center;
  justify-content: center;
  background-color: var(--notes-after-background);
  border-radius: 50px;
  color: var(--white);
  content: "OFF";
  font-weight: var(--font-bold);
  transition: background-color 0.1s ease-in-out;
}

#notes.icon-active::after {
  background-color: var(--control-text-color);
  content: "ON";
}

.icon-active {
  border: 2px solid purple;
}

.numpad {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-height: 350px;
  height: 100%;
  margin-bottom: 15px;
}

.numpad-button {
  font-family: Helvetica, Sans-Serif;

  font-size: 40px;
  font-weight: 400;

  border: none;
  border-radius: 5px;
  text-align: center;
  color: var(--control-text-color);
  cursor: pointer;
  margin: 4px;
  background-color: var(--icon-background);

  transition: background-color 0.1s ease-in-out;
}

.numpad-button:hover {
  background-color: var(--icon-background-hover);
}

.new-game-button {
  font-family: Helvetica, Sans-Serif;
  border: none;
  height: 60px;
  border-radius: 5px;
  background-color: var(--control-text-color);
  font-size: 20px;
  font-weight: var(--font-bold);
  color: var(--white);
  cursor: pointer;
}

.new-game-button:hover {
  background-color: var(--new-game-button-hover);
}

.pauseScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./img/play-button.png");
  cursor: pointer;
  display: none;
}

.visible {
  display: block;
}

/* don't change order */

.highlight {
  background-color: var(--highlight-basic);
}

.similar {
  background-color: var(--highlight-similar);
}

.invalid {
  background-color: var(--highlight-invalid);
  color: var(--highlight-invalid-text-color);
}

.selected {
  background-color: var(--highlight-selected);
}

.locked {
  color: black;
}

.hidden {
  display: none;
}

.no-background {
  background-color: var(--cell-background-color);
}

@media screen and (max-width: 900px) {
  .game-wrapper {
    max-height: calc(100vw - 400px);
  }

  .cell {
    font-size: 30px;
  }
}

@media screen and (max-width: 800px) {
  .sudoku-wrapper {
    max-width: 520px;
  }

  .game-wrapper {
    display: block;
    max-height: none;
  }

  .game-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sudoku-game {
    height: 100%;
    margin-bottom: 20px;
  }

  .controls {
    width: 100%;
    margin: 0;
    max-width: none;
    height: auto;
  }

  .items-wrapper {
    justify-content: space-around;
  }

  .numpad {
    display: flex;
    justify-content: space-around;
  }

  .numpad-button {
    background: none;
  }
  .numpad-button:hover {
    background: none;
  }
}

@media screen and (max-width: 520px) {
  .sudoku-game {
    max-height: calc(100vw - 20px);
  }

  .cell {
    font-size: 20px;
  }
}
