* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Helvetica", Sans-Serif;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sudoku-wraper {
  width: 100%;
  height: 100%;
  max-height: 540px;
  max-width: 860px;

  display: flex;
  flex-direction: column;
}

.sudoku-timer-wraper {
  width: 100%;
  height: 100%;
  max-height: 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 0 30px;
}

.sudoku-timer-background-helper {
  width: 25px;
  height: 25px;
  background: #eaeef4;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
}

.sudoku-timer-background-helper:hover {
  background-color: #dce3ed;
}

.sudoku-timer-icon {
  width: 75%;
  height: 75%;
  background-image: url("/img/211871_pause_icon.png");
  background-size: contain;
  background-position: center;
}

.sudoku-game-wraper {
  width: 100%;
  height: 100%;
  display: flex;
}

/* sudoku grid */
.sudoku-game {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto;
}

.sudoku-grid {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  border: 0.5px solid black;
}

.sudoku-cell {
  width: 100%;
  height: 100%;
  width: 56px;
  height: 56px;
  padding: 10px;
  border: 0.5px solid lightgray;
  background-color: #fff;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
  color: blue;
  cursor: pointer;
}

.highLight {
  background-color: lightblue;
}

.highLightStrong {
  background-color: pink;
}

.locked {
  color: black;
}

/*  controls */
.sudoku-controls {
  width: 100%;
  height: 100%;
  max-width: 360px;
  padding: 10px 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sudoku-controls-items-wraper {
  display: flex;
  justify-content: space-around;
}

.control-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #0072e3;
}

.control-item-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeef4;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  cursor: pointer;
  margin-bottom: 5px;
}

.control-item-background:hover {
  background-color: #dce3ed;
}

.control-item-icon {
  width: 50%;
  height: 50%;
}

#control-item-icon-undo {
  background: url("/img/undo.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#control-item-icon-erase {
  background: url("/img/eraser.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#control-item-icon-notes {
  background: url("/img/notes.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.sudoku-numpad {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  max-height: 350px;
  height: 100%;
}

.sudoku-num-btn {
  font-size: 35px;

  border: none;
  border-radius: 5px;
  text-align: center;
  color: #0072e3;
  cursor: pointer;
  margin: 5px;
  background-color: #eaeef4;
}

.sudoku-num-btn:hover {
  background-color: #dce3ed;
}

/* new game */
.sudoku-new-game-btn {
  border: none;
  height: 60px;
  border-radius: 5px;
  background-color: #0072e3;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.sudoku-new-game-btn:hover {
  background-color: #0065c8;
}

.red {
  color: yellow;
}
